<a href="https://colab.research.google.com/github/cleziac/Programming-Project/blob/main/ds_programming_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step 1: Data Cleaning and Data Wrangling**

In [1]:
# imports

In [2]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv('https://raw.githubusercontent.com/cleziac/Programming-Project/main/movies_metadata.csv?token=GHSAT0AAAAAABRE66MX6YGW2DAFZJ3C2AQUYQDWJKA')

In [7]:
movies.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [8]:
# Data exploration

In [9]:
# How many rows and columns does the dataset have?

print(movies.shape[0])
print(movies.shape[1])

45463
24

In [10]:
# What types of data does the dataset have?

movies.dtypes

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [11]:
# Let's display the details of the dataset

movies.describe()

             budget             id  ...  vote_average    vote_count
count  4.546300e+04   45463.000000  ...  45460.000000  45460.000000
mean   4.224579e+06  108359.918813  ...      5.618207    109.897338
std    1.742413e+07  112460.749278  ...      1.924216    491.310374
min    0.000000e+00       2.000000  ...      0.000000      0.000000
25%    0.000000e+00   26449.500000  ...      5.000000      3.000000
50%    0.000000e+00   60003.000000  ...      6.000000     10.000000
75%    0.000000e+00  157328.000000  ...      6.800000     34.000000
max    3.800000e+08  469172.000000  ...     10.000000  14075.000000

[8 rows x 7 columns]

In [12]:
# How many NaN values does each column contain?

print(" \nCount total NaN at each column in a DataFrame : \n\n", movies.isnull().sum())

Count total NaN at each column in a DataFrame :

 adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   959
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25052
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [13]:
# Deleting columns that have too many NaN values or that we don't need to perform EDA

movies = movies.drop(['belongs_to_collection', 'homepage', 'tagline', 'poster_path'], 1)
movies = movies.drop(['status', 'video', 'overview', 'popularity'], 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [14]:
movies.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [15]:
# Let's take a look at each column and clean what we will use to analyze data:

# BUDGET COLUMN

print(movies.budget.dtype)
print('The minimum value for a movie budget is: ', movies.budget.min())
print('The maximum value for a movie budget is: ', movies.budget.max())
print('The average value for a movie budget is: ', movies.budget.mean())

pd.to_numeric(movies.budget)

# removing all 0 values (treat them as if they were nan)
budget = movies.budget[movies.budget != 0]
budget.describe

int64
The minimum value for a movie budget is:  0
The maximum value for a movie budget is:  380000000
The average value for a movie budget is:  4224578.813474693

<bound method NDFrame.describe of 0        30000000
1        65000000
3        16000000
5        60000000
6        58000000
           ...
45399     2000000
45405     2000000
45406      800000
45409     2000000
45419     5000000
Name: budget, Length: 8890, dtype: int64>

In [34]:
# GENRES COLUMN

# The genres column provides data with a dictionary that has two keys: an id and the genre name;
# Some movies have multiple tags (up to 6) and that would make the total > total movies in the dataset;
# For the sake of the EDA, I will keep the first entry of every dict listed. 

genres = movies.genres
genres.head()     # sample

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [57]:
# Let's start to tidy the data. 
genres_col = movies.genres                       # copying the original column from the dataset into another separate one
genres_col.dropna()                              # dropping nan
genres_col.shape                                 # checking dimension
genres_col = genres_col.drop([45462, 45461])     # dropping two columns which values were []
df_genres = pd.DataFrame(genres_col)             # making another df as a copy
df_genres                                        # visualizing the df
df_genres = df_genres[df_genres['genres'].str.contains('name', na=False)]     # cleaning rows with no pertaining values by taking away rows that do not have the name in them
df_genres
pd.DataFrame(df_genres['genres'].to_list(), columns=['name'])        # making a list of the resulting df
s = pd.Series(df_genres.loc[0])
s
df1 = df_genres['genres'].str.split(',', expand = True)              # split the string using ',' as a separator to get only the first tag 
df2 = df1.drop([0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], axis = 1)   # deleting all the rows that I don't need
df3 = df2[1].str.split(':', expand = True)                           # split the string to get only what's after the 'name:' 
df3 = df3.drop(0, axis = 1)                                          # dropping what's left, aka the column containing just 'name'
df3 = df3.rename(columns= {1 : 'Genres'})                            # renaming the column from 1 to 'Genres'
df4 = df3['Genres'].astype(str)                                      # converting the datatype to string
df4
df5 = df4.str.extract('([a-zA-Z]+)', expand=False).str.split()       # cleaning the string (delete of '' and }])
df5

0        [Animation]
1        [Adventure]
2          [Romance]
3           [Comedy]
4           [Comedy]
            ...
45456      [Science]
45457        [Drama]
45458        [Drama]
45459        [Drama]
45460       [Action]
Name: Genres, Length: 43021, dtype: object

In [69]:
df_genres = pd.DataFrame(df5)
new = df5.value_counts().rename_axis('Genres').reset_index(name = 'counts')
new

           Genres  counts
0         [Drama]   11966
1        [Comedy]    8820
2        [Action]    4489
3   [Documentary]    3415
4        [Horror]    2619
5         [Crime]    1685
6      [Thriller]    1665
7     [Adventure]    1514
8       [Romance]    1191
9     [Animation]    1124
10      [Fantasy]     704
11      [Science]     647
12      [Mystery]     554
13       [Family]     524
14        [Music]     487
15      [Western]     451
16           [TV]     390
17          [War]     379
18      [History]     279
19      [Foreign]     118

In [68]:
# ORIGINAL LANGUAGE COLUMN

In [73]:
movies.original_language.unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo', 'ay',
       'kn', 'eu', 'ne', 'pa', 'ky', 'gl', 'uz', 'sm', 'mt', 'hy', 'iu',
       'lb', 'si'], dtype=object)

In [88]:
lang = pd.DataFrame(data = movies.original_language)
lang = lang.dropna()
lang.value_counts()
lang['count'] = lang.value_counts().sum()
lang
lang1 = lang.groupby('original_language').count()
lang1
idx = pd.Index.to_list(lang1.index)
content = lang1['count'].to_list()
data = {'languages' : idx, 'counts' : content}
lang_df = pd.DataFrame(data = data, index = np.arange(0, 89))
lang_df

   languages  counts
0         ab      10
1         af       2
2         am       2
3         ar      39
4         ay       1
..       ...     ...
84        vi      10
85        wo       5
86        xx      33
87        zh     409
88        zu       1

[89 rows x 2 columns]

In [70]:
# REVENUE COLUMN

In [72]:
revenue = movies.revenue.dropna()
drev = pd.DataFrame(data = revenue)
drev = drev[drev.revenue != 0.0]
drev

           revenue
0      373554033.0
1      262797249.0
3       81452156.0
4       76578911.0
5      187436818.0
...            ...
45396          3.0
45398      50656.0
45406    1328612.0
45409    1268793.0
45419    1413000.0

[7408 rows x 1 columns]

In [89]:
# RELEASE DATES COLUMN

In [106]:
# copy release_date column into a new DataFrame
df = pd.DataFrame(data = movies.release_date)  

# delete rows that contain nan values
df = df.dropna()     

# print column names
df.columns   

# split string using '-' as a separator to get the different years
df[["year", "month", "day"]] = df.release_date.str.split("-", expand = True)    

# group by year and save the result in a DataFrame called mv_per_year
mv_per_year = df.groupby('year').count()             
mv_per_year


# plt.plot(mv_per_year)

      release_date  month   day
year
1874             1      1     1
1878             1      1     1
1883             1      1     1
1887             1      1     1
1888             2      2     2
...            ...    ...   ...
2015          1905   1905  1905
2016          1604   1604  1604
2017           532    532   532
2018             5      5     5
2020             1      1     1

[135 rows x 3 columns]