<a href="https://colab.research.google.com/github/cleziac/Programming-Project/blob/main/ds_programming_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# imports

In [33]:
import numpy as np
import pandas as pd

In [36]:
movies = pd.read_csv('https://raw.githubusercontent.com/cleziac/Programming-Project/main/movies_metadata.csv?token=GHSAT0AAAAAABRE66MW72NEVT5H2DK4JOQKYQCZPLQ')

In [37]:
movies.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [38]:
# Data exploration

In [41]:
# How many rows and columns does the dataset have?

print(movies.shape[0])
print(movies.shape[1])

45463
24

In [42]:
# What types of data does the dataset have?

movies.dtypes

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [43]:
# Let's display the details of the dataset

movies.describe()

             budget             id  ...  vote_average    vote_count
count  4.546300e+04   45463.000000  ...  45460.000000  45460.000000
mean   4.224579e+06  108359.918813  ...      5.618207    109.897338
std    1.742413e+07  112460.749278  ...      1.924216    491.310374
min    0.000000e+00       2.000000  ...      0.000000      0.000000
25%    0.000000e+00   26449.500000  ...      5.000000      3.000000
50%    0.000000e+00   60003.000000  ...      6.000000     10.000000
75%    0.000000e+00  157328.000000  ...      6.800000     34.000000
max    3.800000e+08  469172.000000  ...     10.000000  14075.000000

[8 rows x 7 columns]

In [44]:
# How many NaN values does each column contain?

print(" \nCount total NaN at each column in a DataFrame : \n\n", movies.isnull().sum())

Count total NaN at each column in a DataFrame :

 adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   959
popularity                   3
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      3
runtime                    260
spoken_languages             3
status                      84
tagline                  25052
title                        3
video                        3
vote_average                 3
vote_count                   3
dtype: int64

In [45]:
# Deleting columns that have too many NaN values or that we don't need to perform EDA

movies = movies.drop(['belongs_to_collection', 'homepage', 'tagline', 'poster_path'], 1)
movies = movies.drop(['status', 'video', 'overview', 'popularity'], 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [46]:
movies.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

In [50]:
# Let's take a look at each column and clean what we will use to analyze data:

# BUDGET COLUMN

print(movies.budget.dtype)
print('The minimum value for a movie budget is: ', movies.budget.min())
print('The maximum value for a movie budget is: ', movies.budget.max())
print('The average value for a movie budget is: ', movies.budget.mean())

pd.to_numeric(movies.budget)

# removing all 0 values (treat them as if they were nan)
budget = movies.budget[movies.budget != 0]
budget.describe

int64
The minimum value for a movie budget is:  0
The maximum value for a movie budget is:  380000000
The average value for a movie budget is:  4224578.813474693

<bound method NDFrame.describe of 0        30000000
1        65000000
3        16000000
5        60000000
6        58000000
           ...
45399     2000000
45405     2000000
45406      800000
45409     2000000
45419     5000000
Name: budget, Length: 8890, dtype: int64>

In [51]:
# GENRES COLUMN

# The genres column provides data with a dictionary that has two keys: an id and the genre name;
# Some movies have multiple tags (up to 6) and that would make the total > total movies in the dataset;
# For the sake of the EDA, I will keep the first entry of every dict listed. 

genres = movies.genres
genres.head()     # sample

0    [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1    [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2    [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                       [{'id': 35, 'name': 'Comedy'}]
Name: genres, dtype: object

In [52]:
# Let's start to tidy the data. 

genres.dropna()
genres.shape

(45463,)